<nav>
  <div>
    <div>
      <h1><a href="/"><img src="images/scent-inventory-logo-mod.jpg" alt="Scent Inventory logo"></a></h1>
      <form class="search-container" method="GET" action="/search">
        
        <input type="text" name="search-text" id="search-text" placeholder="Search by name, description, category or brand." title="Search by name, description, category or brand.">
        <button type="submit"><img src="images/search_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.svg" alt="search"></button></form>
        
      </form>
    </div>
    <ul>
      <li><a href="/items" class="<%= (currentPage === 'items') ? 'highlight-menu' : '' %>"><span>All items</span></a></li>
      
      <li><a href="/brands" class="<%= (currentPage === 'brands') ? 'highlight-menu' : '' %>"><span>Brands</span></a></li>
      
      <li><a href="/categories" class="<%= (currentPage === 'categories') ? 'highlight-menu' : '' %>"><span>Categories</span></a></li>
      <li><a href="/add"><img class="icon" src="images/perfume-plus.svg" alt="add perfume icon"><span>Add perfume</span></a></li>
    </ul>
  </div>
</nav>