<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/variables.css">
  <link rel="stylesheet" href="/index.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
  <title>Inventory App</title>
</head>
<body class="playfair-display-400">
  <main>
    <h1><img class="logo" src="images/scent-inventory-logo-mod.jpg" alt="Scent Inventory logo"></h1>
    <form class="search-container" method="GET" action="/search">
      
      <input type="text" name="searchText" id="search-text" placeholder="Search by name, description, category or brand." title="Search by perfume name, description, id or brand.">
      <button type="submit"><img src="images/search_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.svg" alt="search"></button></form>
      
    </form>
    <ul>
      <li><a href="/items"><div><span><img src="images/all-items-mod.svg" alt="all items" title="all items"></span>All items</div></a></li>
      
      <li><a href="/brands"><div><span><img src="images/star-box-outline-mod2.svg" alt="brands" title="brands"></span>Brands</div></a></li>
      
      <li><a href="/categories"><div><span><img src="images/categories.svg" alt="categories" title="categories"></span>Categories</div></a></li>
      <li><a href="/add"><div><span><img src="images/perfume-plus.svg" alt="add perfume icon"></span>Add perfume</div></a></li>
    </ul>
  </main>
</body>
</html>