<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/variables.css">
  <link rel="stylesheet" href="/nav.css">
  <link rel="stylesheet" href="/search.css">
  <link rel="stylesheet" href="/perfume.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
  <title>Inventory App Perfumes</title>
</head>
<body class="panel playfair-display-400">
  <%- include("partials/nav.ejs", {currentPage: ''}); %>
  <main>
    <% if (details.length === 0) { %>
      <section class="blank">
        <p>No perfumes found for the search term: <%= searchText %></p>
      </section>
      
      <% } %>
      <% details.forEach(el => { console.log(el);%>
         <%- include("partials/perfume-details.ejs", {el, categories, brands}); %>
        <% }); %>
        
      </main>
    </body>
    </html>