<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/variables.css">
  <link rel="stylesheet" href="/nav.css">
  <link rel="stylesheet" href="/search.css">
  <link rel="stylesheet" href="/perfume.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
  <title>Inventory App Perfumes</title>
</head>
<body class="panel playfair-display-400">
  <%- include("partials/nav.ejs", {currentPage: ''}); %>
  <main>
    <% if (details.length === 0 && !add) { %>
      <section class="blank">
        <p>No perfumes found for the search term: <%= searchText %></p>
      </section>
      
      <% } else { %>
        <% if (add) { %>
          <%- include("partials/add-perfume.ejs", {categories, brands}); %>
          <% } else { console.log(details) %>
            <% details.forEach(el => { %>
              <% let p = pp_id ?? el.perfume_price_ids[0]; console.log(el.perfume_prices); console.log(pp_id, p) %>
            <%- include("partials/perfume-details.ejs", {el, perfume_prices: el.perfume_prices, pp_id: p, categories, brands}); %>
            <% }); %>
            <% } %>
            
            
            <% } %>
            
          </main>
          <script src="src/receipts.js"></script>
        </body>
        </html>