* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.large-icon {
  width: clamp(1rem, 5vw + 1rem, 2rem);
}

.parisienne-regular {
  
  font-family: "Parisienne", cursive;
  font-weight: 300;
  font-style: normal;
  letter-spacing: .15em;
  text-rendering: optimizeLegibility;
}

.wrapper > li:hover {
  background: linear-gradient(175deg, black, #3e2244, #9b436d);
}

.panel main .perfume-details form {
  max-width: 40%;
  
  background: repeating-radial-gradient(white 0%, #e6ebff 20%, #e6ebff  21%, white 30%);
  background-size: 20px 20px;
  font-family:'Courier New', Courier, monospace;
  font-size: var(--info-font-size);
  margin-bottom: 1rem;
  border-radius: 5px;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
  margin: initial;
  padding: 1rem;
  row-gap: 1rem;
  label {
    font-size: smaller;
    font-weight: bold;
    min-width: 35%;
  }
  input[type="text"] {
    border-bottom: 1px solid black;
    border-radius: 0;
    text-overflow: ellipsis;
    flex-grow: 2;
    background-color: #e6ebff;
    font-size: clamp(11px, .9rem, 1rem);
    min-width: auto;
  }
}

ul {
      flex-direction: column;
    font-size: smaller;
    align-items: flex-start;

    img {
      max-width: 1rem;
    }

    li {
      display: flex;
      column-gap: .5rem;
    }
}

.brands section {
  padding: 1rem 0;
}

.brands > div {
    display: flex;
    column-gap: 2rem;
  }

}