* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.large-icon {
  width: clamp(1rem, 5vw + 1rem, 2rem);
}
.large-count {
  font-size: clamp(1rem, 5vw + 1rem, 2rem);
  display: flex;
  flex-grow: 2;
  justify-content: center;
  align-items: center;
}

.parisienne-regular {
  
  font-family: "Parisienne", cursive;
  font-weight: 300;
  font-style: normal;
  letter-spacing: .15em;
  text-rendering: optimizeLegibility;
}

.wrapper > li:hover {
  background: linear-gradient(175deg, black, #3e2244, #9b436d);
}


