* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.panel .center form.action {
  margin: 2rem auto;
  display: flex;
  flex-flow: row wrap;
  max-width: clamp(340px,50%,80ch);
  padding: 1rem;
  row-gap: 1rem;
  
  ul {
    list-style-type: none;
    color: #a30202;
    font-weight: 500;
    font-size: var(--info-font-size);
    font-family: serif;
    letter-spacing: normal;
}
  div:has(> input) {
    display: flex;
    label {
      text-wrap: wrap;
      font-size: var(--info-font-size);
    }
    input {
      border: .5px dotted var(--purple);
      border-radius: 0;
    }
  }
  div:has(> button) {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    align-items: center;
    justify-content: center;
    flex-grow: 2;
  }
  button {
    min-width: 20%;
    padding: .3rem 1rem;
    border-radius: 5%;
    max-width: 20ch;
    flex-grow: 2;
    font-size: var(--info-font-size);
    
    cursor: pointer;
    a {
      text-decoration: none;
      color: black;
    }
  }
}