form {
  display: flex;
  border-radius: 25px;
  justify-content: space-between;
  border: .5px dotted #ba2f62;
  flex-grow: 2;
}
input[type=text] {
  border-radius: 25px 0px 0px 25px;
  background-color: var(--background-color);
  --padding: clamp(5px, 15px, 1vmin);
  padding: var(--padding) 5px var(--padding) var(--padding);
  min-width: 150px;
  font-size: var(--info-font-size);
  border: none;
  flex-grow: 2.2;
}

input::placeholder { 
  color: black;
  opacity: 1; 
}
input[type="text"]:focus {
  border: none;
  outline: none;
  
  background-color: var(--focused-background-color);
}
input:hover {
  background-color: var(--focused-background-color);
}
.search-container > button {
  border-radius: 0px 25px 25px 0px;
  padding: 0px 10px;
  border: none;
  cursor: pointer;
  
  
  background-color: var(--background-color);
  
}

.search-container button:hover {
  background: var(--focused-background-color);
}