:root {
  --background-color: rgb(221 182 251 / 36%);
  --focused-background-color: rgba(238, 215, 255, 0.36);
  --app-max-width: 730px;
}

.playfair-display-400 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
    letter-spacing: .03em;
}